<!--
    Powered By nodeppt - This is probably the best web presentation tool so far!
    version: 1.4.5
    site: https://github.com/ksky521/nodeppt
    date: 
-->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>vue2  - By linq</title>
    <link rel="stylesheet" media="all" href="./css/nodeppt.css">
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="./css/phone.css">
    
    <link rel="stylesheet" href="./js/highlight/styles/monokai_sublime.css">
    <link rel="stylesheet" href="./css/font-awesome.css">
    
<link rel="stylesheet" href="./css/theme.moon.css">
</head>
<body>
<div class="slides">
    <slides id="container">
        <slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>Vue2前端技术生态</h1>
<h2>演讲者：LinQ</h2>
<p><br/></p>
<ul>
<li>Vue2核心基础</li>
<li>组件系统（props、emit events、slot）</li>
<li>扩展能力-插件</li>
<li>webpack模块捆绑器</li>
<li>babel/es6</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>一、Vue2核心基础</h1>
<p><br/></p>
<ul>
<li>Vue2实例生命周期</li>
<li>模板及指令</li>
<li>响应式属性-数据驱动（data、watch、computed）</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>Vue2实例生命周期</h1>
<p><br/></p>
<blockquote>
<p>每个 Vue 实例在被创建之前都要经过一系列的初始化过程。例如需要设置数据监听、编译模板、挂载实例到 DOM、在数据变化时更新 DOM 等。同时在这个过程中也会运行一些叫做<strong>生命周期钩子</strong>的函数，给予用户机会在一些特定的场景下添加他们自己的代码</p>
</blockquote>
<h2>Created</h2>
<blockquote>
<p>到该钩子执行，Vue实例已经完成：初始化事件、响应式data。</p>
</blockquote>
<h2>mounted</h2>
<blockquote>
<p>到该钩子执行，Vue实例已经完成template模板编译、挂载到el跟节点。此时Vue的内容在html文档DOM树中</p>
</blockquote>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>updated</h2>
<p><br/></p>
<blockquote>
<p>执行该钩子，Vue实例中响应式数据（data、computed等）发生变化，更新VDom及重新渲染HTML 文档DOM</p>
</blockquote>
<h2>destroyed</h2>
<p><br/></p>
<blockquote>
<p>执行该钩子，Vue实例被销毁（Watcher、components、event Listeners等均被销毁）</p>
</blockquote>
<h3><strong>Remind</strong>：</h3>
<p><br/></p>
<blockquote>
<p>上述主要钩子中，每个钩子均存在一个before的钩子（beforeCreate、beforeMount、beforeUpdate、beforeDestroy）处理特殊场景</p>
</blockquote>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>图谱</h2>
<p><br/></p>
<img src="../img/lifecycle.png" alt="">

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>模板及指令</h1>
<p><br/></p>
<blockquote>
<p>Vue.js 使用了基于 HTML 的模板语法，允许开发者声明式地将 DOM 绑定至底层 Vue 实例的数据。所有 Vue.js 的模板都是合法的 HTML ，所以能被遵循规范的浏览器和 HTML 解析器解析。</p>
</blockquote>
<p>在底层的实现上，Vue将模板编译成虚拟DOM渲染函数。结合响应系统，在应用状态改变时，Vue 能够智能地计算出重新渲染组件的最小代价并应用到 DOM 操作上。</p>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>文本</h2>
<p><br/></p>
<pre><code class="html">&lt;span&gt;Message: {{ msg }}&lt;/span&gt;
</code></pre>
<h2>v-html 原始html</h2>
<p><br/></p>
<pre><code class="html">&lt;div v-html=&quot;rawHtml&quot;&gt;&lt;/div&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>v-bind或:简写</h2>
<pre><code class="html">&lt;button :title=&quot;tips&quot;&gt;&lt;/button&gt;
&lt;a v-bind:href=&quot;url&quot;&gt;&lt;/a&gt;
&lt;div v-bind:class=&quot;{ active: isActive }&quot;&gt;&lt;/div&gt;
&lt;div v-bind:style=&quot;{ color: activeColor, fontSize: fontSize + &#39;px&#39; }&quot;&gt;&lt;/div&gt;
</code></pre>
<p><br/></p>
<h2>v-on或@简写</h2>
<pre><code class="html">&lt;a @click=&quot;doSomething(username, $event)&quot;&gt;&lt;/a&gt;
&lt;a @click=&quot;doSomething(&#39;first&#39;)&quot;&gt;&lt;/a&gt;
&lt;a @click.prevent=&quot;doSomething(&#39;first&#39;)&quot;&gt;&lt;/a&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>v-model</h2>
<p><br/></p>
<pre><code class="html">&lt;input v-model=&quot;message&quot; placeholder=&quot;edit me&quot;&gt;
&lt;input type=&quot;checkbox&quot; id=&quot;checkbox&quot; v-model=&quot;checked&quot;&gt;
&lt;input type=&quot;radio&quot; id=&quot;one&quot; value=&quot;One&quot; v-model=&quot;picked&quot;&gt;
&lt;input type=&quot;radio&quot; id=&quot;two&quot; value=&quot;Two&quot; v-model=&quot;picked&quot;&gt;
&lt;input v-model.number=&quot;age&quot; type=&quot;number&quot;&gt;
&lt;input v-model.trim=&quot;msg&quot;&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>v-if/v-else/v-else-if</h2>
<p><br/></p>
<pre><code class="html">&lt;h1 v-if=&quot;ok&quot;&gt;Yes&lt;/h1&gt;
&lt;h1 v-else&gt;No&lt;/h1&gt;

&lt;template v-if=&quot;ok&quot;&gt;
&lt;h1&gt;Title&lt;/h1&gt;
&lt;p&gt;Paragraph 1&lt;/p&gt;
&lt;p&gt;Paragraph 2&lt;/p&gt;
&lt;/template&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>v-show</h2>
<p><br/></p>
<pre><code class="html">&lt;h1 v-show=&quot;ok&quot;&gt;Hello!&lt;/h1&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>v-if vs v-show 区别</h2>
<p><br/></p>
<ul>
<li>v-if 懒惰，条件为真时才渲染，可以用来做<strong>懒惰加载组件或弹窗</strong></li>
<li>v-show 只是相当于style=&#39;display:none&#39;，<strong>频繁渲染且变化不大的组件</strong></li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>v-if 与 v-for一起使用</h2>
<p><br/></p>
<ul>
<li>v-for有更高的优先级，处理它们是可以建议使用template</li>
</ul>
<pre><code class="html">&lt;template v-if=&#39;list.length&#39;&gt;
&lt;li v-for=&#39;item in list&#39;&gt;{{item}}&lt;/list&gt;
&lt;/template&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>响应式属性</h1>
<p><br/></p>
<blockquote>
<p>Vue 的一个最明显的特性就是其不太引人注意的响应式系统。数据模型仅仅是普通的  对象。而当你修改它们时，视图会进行更新。当你把一个普通的  对象传给 Vue 实例的<code>data</code>选项，Vue 将遍历此对象所有的属性，并使用<a href="https://developer.mozilla.org/en-US/docs/Web//Reference/Global_Objects/Object/defineProperty" target="_blank">Object.defineProperty</a>把这些属性全部转为 getter/setter。</p>
</blockquote>
<ul>
<li>data数据会被代理，拥有通知watcher的能力</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>实现原理</h2>
<p><br/></p>
<blockquote>
<p>每个组件实例都有相应的<strong>watcher</strong>实例对象，它会在组件渲染的过程中把属性记录为依赖，之后当依赖项的<code>setter</code>被调用时，会通知<code>watcher</code>重新计算，从而致使它关联的组件得以更新。</p>
</blockquote>
<ul>
<li>Data中数据相当发布者（publish）</li>
<li>而VDom相当于watcher订阅者（subscribe）</li>
<li>VDom Listener事件订阅（input），更新Data数据</li>
<li>用户输入，HTML节点发布事件</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<img src="../img/data.png" alt="">

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>computed</h2>
<p><br/></p>
<blockquote>
<p>模板内的表达式是非常便利的，但是它们实际上是用于简单运算的。在模板中放入太多的逻辑会让模板过重且难以维护，而且data中的属性都具有观察能力，性能和实现难度都会加大。</p>
</blockquote>
<ul class="fadeIn">
<li>同时观察多个响应式数据</li>
<li>缓存数据的能力</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br></p>
<pre><code class="javascript">var vm = new Vue({
        el: &#39;#demo&#39;,
        data: {
        firstName: &#39;Foo&#39;,
        lastName: &#39;Bar&#39;
    },
    computed: {
        fullName: function () {
            return this.firstName + &#39; &#39; + this.lastName
        }
    }
})
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>watch</h2>
<blockquote>
<p>Vue 确实提供了一种更通用的方式来观察和响应 Vue 实例上的数据变动：<strong>watch 属性</strong>。当你有一些数据需要随着其它数据变动而变动时</p>
</blockquote>
<pre><code class="javascript">var vm = new Vue({
        el: &#39;#demo&#39;,
        data: {
        firstName: &#39;Foo&#39;,
        lastName: &#39;Bar&#39;,
        fullName: &#39;Foo Bar&#39;
    },
    watch: {
        firstName: function (val) {
            this.fullName = val + &#39; &#39; + this.lastName
        },
        lastName: function (val) {
            this.fullName = this.firstName + &#39; &#39; + val
        }
    }
})
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>Question：</h2>
<p><br/></p>
<ul>
<li>data一级属性什么时候定义,为什么？</li>
<li>watch可以监听那些属性 ,data中的二级属性能否监听？</li>
<li>data属性是响应式的，如果操作二级属性（数组、对象、简单数据类型）依然让它们具有响应的能力</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>二、组件系统</h1>
<p><br/></p>
<ul>
<li>Vue组件设计</li>
<li>作用域插槽</li>
<li>单文件组件</li>
<li>异步组件</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>Vue组件设计</h1>
<p><br/></p>
<blockquote>
<p>组件 (Component) 是 Vue.js 最强大的功能之一。组件可以扩展 HTML 元素，封装可重用的代码。在较高层面上，组件是自定义元素，Vue.js 的编译器为它添加特殊功能.</p>
</blockquote>
<ul class="fadeIn">
<li>拓展html标签 </li>
<li>组件资源独立（js/css/html等资源完全独立）</li>
<li>单向数据流，派发事件解耦</li>
<li>支持slot插槽及作用域数据，个性化定制接口</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>全局组件定义</h1>
<p><br>
要注册一个全局组件，你可以使用 Vue.component(tagName, options)。例如：</p>
<pre><code class="html">&lt;div id=&quot;example&quot;&gt;
  &lt;my-component :orderId=&#39;orderid&#39; @myClick=&#39;handle&#39;&gt;&lt;/my-component&gt;
&lt;/div&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<pre><code class="javascript">Vue.component(&#39;my-component&#39;, {
  template:&#39;&lt;div @click=&quot;clickHandle&quot;&gt;{{}}-{{}}&lt;/div&gt;&#39;
  data(){
    return {
        myPrivateProperty:1
    }
  },
  props:{
    orderId:{
        type:Number,
        required:true
    }
  },
  methods:{
    clickHandle(){
        this.$emit(&#39;myClick&#39;)
    }
  }
})
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>局部组件定义</h1>
<p>不必在全局注册每个组件。通过使用组件实例选项注册，可以使组件仅在另一个实例/组件的作用域中可用：</p>
<pre><code class="javascript">var Child = {
  template: &#39;&lt;div&gt;A custom component!&lt;/div&gt;&#39;,
  props:{
    childType:{
        type:String
        default:&#39;&#39;
    }
  }
}
new Vue({
    components: {&#39;my-component&#39;: Child}
})
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>可复用组件三要素</h2>
<p><br/></p>
<ul>
<li>Props 允许外部环境传递数据给组件，父容器与子组件交互</li>
<li>Events 允许从外部环境在组件内触发副作用，子组件与父容器交互</li>
<li>Slots 允许外部环境将额外的内容组合在组件中。</li>
</ul>
<pre><code class="html">&lt;my-component
  :foo=&quot;baz&quot;
  :bar=&quot;qux&quot;
  @event-a=&quot;doThis&quot;
  @event-b=&quot;doThat&quot;
&gt;
  &lt;img slot=&quot;icon&quot; src=&quot;...&quot;&gt;
  &lt;p slot=&quot;main-text&quot;&gt;Hello!&lt;/p&gt;
&lt;/my-component&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>props</h2>
<ul>
<li>支持数据类型</li>
<li>支持数据验证Validation</li>
<li>支持默认值，必填值</li>
<li>单项数据流，props属性不允许在内部改变</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<pre><code class="javascript">Vue.component(&#39;example&#39;, {
  props: {
    // 必传且是字符串
    propC: {
      type: String,
      required: true
    },
    // 数字，有默认值
    propD: {
      type: Number,
      default: 100
    },
    propE: {
      type: Boolean,
      default: true
    },
    // 自定义验证函数
    propF: {
      validator: function (value) {
        return value &gt; 10
      }
    }
  }
})
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>Question</h2>
<p><br/></p>
<ul>
<li>单向数据流不允许直接修改Props，如果子组件需要改变父容器的值，应该怎么处理？</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>.sync 修饰符</h2>
<p><br/></p>
<blockquote>
<p>从 2.3.0 起我们重新引入了 .sync 修饰符，但是这次它只是作为一个编译时的语法糖存在。它会被扩展为一个自动更新父组件属性的 v-on 侦听器。</p>
</blockquote>
<pre><code class="html">&lt;comp :foo.sync=&quot;bar&quot;&gt;&lt;/comp&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br/></p>
<p>编译后自动被拓展为：</p>
<pre><code class="html">&lt;comp :foo=&quot;bar&quot; @update:foo=&quot;val =&gt; bar = val&quot;&gt;&lt;/comp&gt;
</code></pre>
<p>当子组件需要更新 foo 的值时，它需要显式地触发一个更新事件：</p>
<pre><code class="javascript">this.$emit(&#39;update:foo&#39;, newValue)
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>slots</h2>
<p><br/></p>
<blockquote>
<p>为了让组件可以组合，我们需要一种方式来混合父组件的内容与子组件自己的模板。这个过程被称为内容分发 (或“transclusion”如果你熟悉 Angular)。Vue.js实现了一个内容分发 API，参照了当前 Web 组件规范草案，使用特殊的 <slot> 元素作为原始内容的插槽。</p>
</blockquote>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p>假定子组件模板为：</p>
<pre><code class="html">&lt;div class=&quot;container&quot;&gt;
  &lt;header&gt;
    &lt;slot name=&quot;header&quot;&gt;&lt;/slot&gt;
  &lt;/header&gt;
  &lt;main&gt;
    &lt;slot&gt;&lt;/slot&gt;
  &lt;/main&gt;
  &lt;footer&gt;
    &lt;slot name=&quot;footer&quot;&gt;&lt;/slot&gt;
  &lt;/footer&gt;
&lt;/div&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br>
父组件模板：</p>
<pre><code class="html">&lt;app-layout&gt;
  &lt;h1 slot=&quot;header&quot;&gt;这里可能是一个页面标题&lt;/h1&gt;
  &lt;p&gt;主要内容的一个段落。&lt;/p&gt;
  &lt;p&gt;另一个主要段落。&lt;/p&gt;
  &lt;p slot=&quot;footer&quot;&gt;这里有一些联系信息&lt;/p&gt;
&lt;/app-layout&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br>
渲染结果：</p>
<pre><code class="html">&lt;div class=&quot;container&quot;&gt;
  &lt;header&gt;
    &lt;h1&gt;这里可能是一个页面标题&lt;/h1&gt;
  &lt;/header&gt;
  &lt;main&gt;
    &lt;p&gt;主要内容的一个段落。&lt;/p&gt;
    &lt;p&gt;另一个主要段落。&lt;/p&gt;
  &lt;/main&gt;
  &lt;footer&gt;
    &lt;p&gt;这里有一些联系信息&lt;/p&gt;
  &lt;/footer&gt;
&lt;/div&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>作用域插槽</h1>
<blockquote>
<p>作用域插槽是一种特殊类型的插槽，用作一个替换已渲染元素的 (能被传递数据的) 可重用模板。将数据传递给插槽内模板</p>
</blockquote>
<pre><code class="html">&lt;div class=&quot;parent&quot;&gt;
  &lt;my-component&gt;
    &lt;template scope=&quot;props&quot;&gt;
      &lt;span&gt;hello from parent&lt;/span&gt;
      &lt;span&gt;{{ props.text }}&lt;/span&gt;
    &lt;/template&gt;
  &lt;/my-component&gt;
&lt;/div&gt;
</code></pre>
<p>在父级中具有特殊属性scope的template存在，允许scope的值定义临时变量名，此变量从子组件中传递props对象</p>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p>假定子组件内容为：</p>
<pre><code class="html">&lt;div class=&quot;child&quot;&gt;
  &lt;slot v-for=&#39;item in list&#39;&gt;&lt;/slot&gt;
&lt;/div&gt;
</code></pre>
<p>渲染结果：</p>
<pre><code class="html">&lt;div class=&quot;parent&quot;&gt;
  &lt;div class=&quot;child&quot;&gt;
    &lt;span&gt;hello from parent&lt;/span&gt;
    &lt;span&gt;11111&lt;/span&gt;
    &lt;span&gt;hello from parent&lt;/span&gt;
    &lt;span&gt;11111&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>单文件组件</h1>
<blockquote>
<p>在现代 UI 开发中，我们已经发现相比于把代码库分离成三个大的层次并将其相互交织起来，把它们划分为松散耦合的组件再将其组合起来更合理一些。在一个组件里，其模板、逻辑和样式是内部耦合的，并且把他们搭配在一起实际上使得组件更加内聚且更可维护</p>
</blockquote>
<ul>
<li>模板</li>
<li>逻辑</li>
<li>资源样式</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>使用单文件组件的优势</h2>
<ul>
<li>字符串模板高亮</li>
<li>css预处理器（less、sass）</li>
<li>javascript预处理构建</li>
<li>组件更加独立，不依赖外部资源加载</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<img src="../img/vue-component.png" alt="实例">

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>异步组件</h1>
<p><br></p>
<blockquote>
<p>在大型应用中，我们可能需要将应用拆分为多个小模块，按需从服务器下载。为了让事情更简单，Vue.js 允许将组件定义为一个工厂函数，动态地解析组件的定义。Vue.js 只在组件需要渲染时触发工厂函数，并且把结果缓存起来，用于后面的再次渲染。</p>
</blockquote>
<ul>
<li>定义组件工厂函数</li>
<li>支持返回promise或resolve解析异步函数</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<pre><code class="javascript">Vue.component(&#39;async-example&#39;, function (resolve, reject) {
 // 这个特殊的 require 语法告诉 webpack
  // 自动将编译后的代码分割成不同的块，
  // 这些块将通过 Ajax 请求自动下载。
  require([&#39;./my-async-component&#39;], resolve)
})
</code></pre>
<p><br></p>
<pre><code class="javascript">Vue.component(&#39;async-webpack-example&#39;, ()=&gt;import(&#39;./my-async-component&#39;))
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br></p>
<ul>
<li>异步组件优势?</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>三、插件系统</h1>
<blockquote>
<p>插件通常会为 Vue 添加全局功能。插件的范围没有限制</p>
</blockquote>
<p><br></p>
<ul class="moveIn">
<li>添加全局方法或者属性</li>
<li>添加全局资源：指令/过滤器/过渡等，如 vue-touch</li>
<li>通过全局 mixin 方法添加一些组件选项，如: vue-router</li>
<li>添加 Vue 实例方法，通过把它们添加到 Vue.prototype 上实现</li>
<li>实现库，vue-router</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>定义插件</h2>
<p><br></p>
<blockquote>
<p>Vue.js 的插件应当有一个公开方法 install 。这个方法的第一个参数是 Vue 构造器，第二个参数是一个可选的选项对象</p>
</blockquote>
<ul>
<li>install 函数</li>
<li>载入vue构造器和可选参数</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br></p>
<pre><code class="javascript">MyPlugin.install = function (Vue, options) {
  Vue.myGlobalMethod = function () {}
  // 2. 添加全局资源
  Vue.directive(&#39;my-directive&#39;, {
    bind (el, binding, vnode, oldVnode) {
    }
    ...
  })
  // 3. 注入组件
  Vue.mixin({
    created: function () {
    }
  })
  Vue.prototype.$myMethod = function (methodOptions) {
    // 逻辑...
  }
}
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>使用插件</h2>
<p><br>
通过全局方法 Vue.use() 使用插件：</p>
<pre><code class="javascript">// 调用 `MyPlugin.install(Vue)`
Vue.use(MyPlugin)
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br>
也可以传入一个选项对象：</p>
<pre><code class="javascript">Vue.use(MyPlugin, { someOption: true })
</code></pre>
<p><br></p>
<p>Vue.use 会自动阻止注册相同插件多次，届时只会注册一次该插件</p>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>官方插件</h1>
<ul>
<li>vue-router 实现SPA单页路由<ul>
<li>SPA具有前端路由，url和入口控制性增强</li>
<li>可做功能切换节流，可做懒加载（结合Webpack和Vue的异步组件能力）</li>
<li>允许定制转场动画、逻辑等，改进用户体验</li>
</ul>
</li>
<li>vuex 状态管理模式，解决组件与组件之间通讯<ul>
<li>包含state、mutation、actions等主要部分</li>
<li>全局状态管理，多组件共享</li>
<li>响应式状态，state变化View绑定VDom节点变化
Tips: Vuex 经常使用铁四角[store.state、store.mutation、组件computed、页面模板绑定]</li>
</ul>
</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<img src="../img/vuex.png" alt="Vuex原理图">

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>四、Webpack 模块捆绑器</h1>
<p><br>
<img src="../img/webpack.png" alt=""></p>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>介绍</h1>
<p><br></p>
<ul>
<li>优势</li>
<li>loaders和plugins等常规配置</li>
<li>code spliing 代码分割懒加载</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>优势</h1>
<p><br></p>
<ul>
<li>解决模块依赖，模块预处理</li>
<li>支持多语言编写前端代码<ul>
<li>js（es6、typescript等）</li>
<li>css(less、sass等)</li>
<li>html(jade、ejs、vue模板等)</li>
</ul>
</li>
<li>兼容Commonjs、AMD、ES6等模块处理器写法</li>
<li>Tree Shaking功能删除未被使用的代码，减少体系</li>
<li>code Splitting及懒惰加载，做到按需/懒惰加载</li>
<li>hot module development热替换，自动刷新和增量构建</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>loaders和plugins配置</h1>
<ul>
<li>entry 入口</li>
<li>output 输出配置</li>
<li>loaders 模板预处理器</li>
<li>plugins 插件</li>
<li>externals 全局变量配置</li>
<li>resolve 模块解析规则</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>loaders</h2>
<p><br>
所有的loaders均配置与rules规则中，loaders分类：</p>
<ul>
<li>pre 所有loader执行之前执行</li>
<li>normal 正常执行</li>
<li>post   所有loader执行之后执行</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>核心配置项</h2>
<p><br></p>
<ul>
<li>test  正则匹配需要处理的module</li>
<li>loader  采用的loader名字，一般是-loader结尾</li>
<li>include 指定包含的文件或目录</li>
<li>exclude 排除的文件或目录</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br></p>
<pre><code class="javascript">{
    module: {
        rules: [{
                test: /\.vue$/,
                loader: &#39;vue-loader&#39;
                }, 
                {
                test: /\.js$/,
                loader: &#39;babel-loader&#39;,
                include: projectRoot,
                exclude: /node_modules/
            }]
        }
}
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>code Spliting代码分割</h1>
<p><br></p>
<ul>
<li>CommonsChunkPlugin 提取公用代码，<ul>
<li>一般代码被引用超过一次就可以抽取common vender中</li>
<li>在plugins中加入new webpack.optimize.CommonsChunkPlugin()即可</li>
</ul>
</li>
<li>Dynamic Imports，使用下列语法是，会独立抽取一个包，并进行按需懒惰加载<ul>
<li>require([depts], factory(){}) AMD写法</li>
<li>require.ensure([],function(){})  CommonJS语法</li>
<li>import ES6+ Stage-3语法</li>
<li>async-await语法，ES2017标准</li>
</ul>
</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br></p>
<h2>AMD 写法</h2>
<p><br></p>
<p>AMD也采用require()语句加载模块，但是不同于CommonJS，它要求两个参数：</p>
<ul>
<li>第一个参数[module]，是一个数组,里面的成员就是要加载的模块</li>
<li>第二个参数callback，则是加载成功之后的回调函数<pre><code class="javascript">require([module], callback);
</code></pre>
</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p>实例：
<br></p>
<pre><code class="javascript">require([&#39;math&#39;], function (math) {
　　math.add(2, 3);
});
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>CommonJS 语法</h2>
<p><br>
语法如下：</p>
<pre><code class="javascript">require.ensure(dependencies: String[], callback: function(require), chunkName: String)
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p>实例：
<br></p>
<pre><code class="javascript">require.ensure([], function (require) {
　　var math = require(&#39;math&#39;)
    math.add(2,3)
});
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>import</h2>
<p><br></p>
<p>语法:</p>
<pre><code class="javascript">//返回promise对象，支持then和catch功能
import(path)
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br>
实例：</p>
<pre><code class="javascript">function getComponent() {
   var element = document.createElement(&#39;div&#39;);
   return import(/* webpackChunkName: &quot;lodash&quot; */ &#39;lodash&#39;).then(_ =&gt; {
     var element = document.createElement(&#39;div&#39;);

     element.innerHTML = _.join([&#39;Hello&#39;, &#39;webpack&#39;], &#39; &#39;);

     return element;

   }).catch(error =&gt; &#39;An error occurred while loading the component&#39;);
  }
 getComponent().then(component =&gt; {
   document.body.appendChild(component);
 })
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>async-await</h2>
<p><br></p>
<ul>
<li>async 修饰函数定义，具有标识的颜色允许使用await</li>
<li>await 修饰函数调用</li>
</ul>
<pre><code class="javascript">async function getComponent() {
   var element = document.createElement(&#39;div&#39;);
   const _ = await import(/* webpackChunkName: &quot;lodash&quot; */ &#39;lodash&#39;);
   element.innerHTML = _.join([&#39;Hello&#39;, &#39;webpack&#39;], &#39; &#39;);
   return element;
}
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>tree Shaking</h1>
<p><br>
实现条件：</p>
<ul>
<li>Webpack2+ 支持ES2015模块加载器，通过JS语法树能够分析出dead-code(未被使用代码)<ul>
<li>import</li>
<li>export</li>
</ul>
</li>
<li>UglifyJSPlugin 能够删除未被使用代码</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p>math.js代码如下：
<br></p>
<pre><code class="javascipt">export function square(x) {
  return x * x;
}

export function cube(x) {
  return x * x * x;
}
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p>index.js代码如下：</p>
<pre><code class="javascript">import { cube } from &#39;./math.js&#39;;

  function component() {
   var element = document.createElement(&#39;pre&#39;);
   element.innerHTML = [
     &#39;Hello webpack!&#39;,
     &#39;5 cubed is equal to &#39; + cube(5)
   ].join(&#39;\n\n&#39;);

    return element;
  }
</code></pre>
<p>打包结果：cube被打包到bundle.js中，而square被踢出。</p>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>五、babel/es6</h1>
<p><br>
<img src="../img/babel.png" alt=""></p>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>babel介绍</h1>
<p><br></p>
<ul>
<li>es2015/2016/2017/stage-2介绍</li>
<li>presets 转换语法</li>
<li>plugins或polyfill对Api进行处理</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>ES标准介绍</h2>
<p><br></p>
<ul>
<li>ES6/ES2015</li>
<li>ES2016</li>
<li>ES2017</li>
<li>Stage-0到Stage-4<ul>
<li>stage-0 想法</li>
<li>stage-1 提议</li>
<li>stage-2 草案</li>
<li>stage-3 实践</li>
<li>stage-4 完成</li>
</ul>
</li>
</ul>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>presets</h2>
<blockquote>
<p>presets对es6+语法进行转换</p>
</blockquote>
<img src="../img/es6-syntax.png" alt="es6语法">
<p><a href="https://kangax.github.io/compat-table/es6/" target="_blank">compat-table 兼容语法查看表</a></p>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p><br>
babel-presets-env能够支持所有es2015+版本</p>
<pre><code class="json">// .babelrc
{
  &quot;presets&quot;: [
    [&quot;env&quot;, {
      &quot;targets&quot;: {
        &quot;browsers&quot;: [&quot;last 2 versions&quot;, &quot;safari &gt;= 7&quot;]
      }
    }]
  ]
}
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<h2>polyfill</h2>
<blockquote>
<p>对于ES6 中原生对象或API，需要添加polyfill才可以降级</p>
</blockquote>
<img src="../img/polyfill-api.png" alt="es6-api">

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article>
<p>babel-plugins-transform-runtime插件，支持原生对象，但不支持原生API，按需引入 </p>
<pre><code class="json">{
  &quot;presets&quot;: [
    [&quot;env&quot;, {
      &quot;modules&quot;: false,
      &quot;targets&quot;: {
        &quot;browsers&quot;: [&quot;&gt; 1%&quot;, &quot;last 2 versions&quot;, &quot;not ie &lt;= 8&quot;]
      }
    }],
    &quot;stage-2&quot;
  ],
  &quot;plugins&quot;: [&quot;transform-runtime&quot;],
}
</code></pre>

</article></section></slide>
<slide class="slide"><section class="slide-wrapper"><article class="flexbox vcenter">
<h1>谢谢大家！</h1>

</article></section></slide>
        

        <!-- <slide class="slide logoslide dark nobackground">
            <article class="flexbox vcenter">
                <h2 style="color: white;">Powered By nodeppt v1.4.5</h2>
            </article>
        </slide> -->
        <div class="slideTip" id="tip"></div>
    </slides>
</div>
<canvas id="drawBoard" class="draw-board" width="900" height="700"></canvas>
<div class="progress"><span id="progress"></span></div>
<div id="_buttons">
    <div class="_btn-box" id="_btn-box" style="display:none;">
        <button class="fa fa-arrow-circle-left" id="_btn-prev"></button>
        <button class="fa fa-arrow-circle-right" id="_btn-next"></button>
        <button class="fa fa-paint-brush" id="_btn-brush"></button>
        <button class="fa fa-compress" id="_btn-overview" data-toggle="fa fa-expand"></button>
    </div>
    <button class="fa fa-bars" id="_btn-bar"  data-toggle="fa fa-close"></button>
</div>
<script src="./js/mixjs/lib/mix.0.3.0.min.js"></script>
<script>
    var ASSET_RELATIVE_DIR = ".";
</script>
<script>
var base = location.protocol + '//' + location.host;

var path = (location.pathname + '#').split('/').filter(function(v){
    return !!v;
});
path.pop();
path = path.join('/');
if (typeof ASSET_RELATIVE_DIR === 'string') {
    path = path + '/' + ASSET_RELATIVE_DIR;
}
MixJS.config({
    baseURL: [ base, path, 'js'].join('/')+'/'
});

</script>
<script src="./js/mixjs/lib/event/broadcast.js"></script>
<script src="./js/nodeppt.js"></script>
<script>
Slide.init({
    containerID: 'container',
    drawBoardID: 'drawBoard',
    slideClass: '.slide',
    buildClass: '.build',
    progressID: 'progress',
    transition: 'cards',
    width: 1100,
    dir: './',
    
    //打开下面的注释就开启postMessage方式
    //访问网址127.0.0.1:8080/ppt/demo#client
    control:{
        type: 'postMessage',
        args:{
            isControl:  false
        }
    },
    
    tipID: 'tip'
});
MixJS.loadJS('highlight/highlight.pack.js',function(){
    hljs.tabReplace = '  ';
    hljs.initHighlightingOnLoad();
});
</script>
<script src="./js/demo.js"></script>
<link rel="stylesheet" href="./css/demo.css">

<!--placeholder-->
</body>
</html>
